
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh; /* viewport max height = 100vh*/
    overflow-x: hidden; /* to disable horizontal scroll*/
    perspective: 10px;  /* distance b/w eye and z=0 axis i.e screen . Lower value results in more effective/immersive 3d effect*/
}

.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; /* to maintain 3d state of childrens of container*/
    z-index: -1;
}

.background, .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover; /* it is used to specify how an <img> or <video> should be resize to fit its parent/container*/
    z-index: -1; /*specifies the stack order of an element (which element should be placed in front of, or behind, the others) */
}

.background{
    transform: translateZ(-40px) scale(5.1);
}

.foreground{
    transform: translateZ(-20px) scale(3);
}

h1{
    position: absolute;
    top: 5rem;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    font-size: 10rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

section{
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 5rem 0;
}

.secHeading{
    font-size: 5rem;
    padding: 0 10rem;  /* 0rem to 10rem */
}

.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.bg{
    position: relative;
    width: 100%;
    height: 500px;
    background-attachment: fixed; /* to fix the image while scrolling*/
    background-position: center; /* to center the image*/
    background-size: cover; /* to resize the image to fill the viewport*/
}

.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) ;
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
}

.bg1{
    background-image: url(sport-1.jpg);
}
.bg2{
    background-image: url(sport-2.jpg);
}
.bg3{
    background-image: url(sport-3.jpg);
}
